

<div id="app">
	<!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<header class="mb-auto">
				<div class="inner">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
										
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
							

							</ul>
						</div>
					</nav>
				</div>
			</header>
			<main role="main" class="inner cover">
				
			</main>
			<footer class="mastfoot mt-auto">
				<div class="inner">
				<p>Thank you for see my example.</p>
				</div>
			</footer>
			
	</div> -->


	<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	  <router-link class="navbar-brand" to="/">SCG ZeroToOne</router-link>
      
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
		   <li class="nav-item">
				<router-link class="nav-link" to="/">Home</router-link> 
			</li>
			<li class="nav-item">
				<router-link class="nav-link" to="/test">Test</router-link> 
			</li>
			<li class="nav-item">
				<router-link class="nav-link" to="/apitest">Test Api</router-link> 
			</li>

			<li class="nav-item">
				<router-link class="nav-link" to="/map">Find Restaurant</router-link> 
			</li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
		<router-view></router-view>		
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Thank you for your kind interest.</span>
      </div>
    </footer>
</div>

<script>
	//home tab
	const home = { template: `<div><H3>Home Page</H3></div>` }

	//test tab
	const test = { 
		template: `
		<div>
			<H3>Test Page</H3>
			<div class="card">
  				<div class="card-body"> 
				  {{ calculate(3,2,5) }}
				</div>
			</div>
		</div>
		`,
		methods:{
			calculate:function(startNum,incrementNum,length){
				arrNum = [startNum];
				nextNum = startNum;
				for(i = 1; i<length;i++){
					nextNum +=i*incrementNum;
					arrNum.push(nextNum);
				}
				return arrNum;
			}
		},
	}

	//test api tab
	const apitest = { 
		template: `
			<div>
				<H3>Test Api Page</H3>
				<div class="card">
  					<div class="card-body"> 
						{{ info }}
					</div>
				</div>
			</div>`,
		data () {
			return {
			info: null
			}
		},
		methods:{
			callApi:function(){
				axios
					.get('<?php echo $this->url('test') ?>')
					.then(response => {
						this.info = response.data;
					});
			}
		},
		mounted () {
			this.callApi();
		} 
	}

	//test api tab
	const map = { 
		template: `
		<div>
			<H3>Find Restaurant</H3>
			<div class="card-columns">
				<div class="card" v-for="item in list">
					<div class="card-body">
						<h5 class="card-title">{{item.name}}</h5>
						<p class="card-text">{{item.vicinity}}</p>
					</div>
				</div>
			</div>
		</div>
		`,
		data () {
			return {
			list: null
			}
		},
		methods:{
			callApi:function(){
				axios
					.get('<?php echo $this->url('test',['action' => 'map']) ?>')
					.then(response => {
						this.list = response.data.results;
					});
			}
		},
		mounted () {
			this.callApi();
		} 
	}

	const routes = [
	{ path: '/', component: home },
	{ path: '/test', component: test },
	{ path: '/apitest',component:apitest},
	{ path: '/map', component: map },
	{ path: '*', component: home}
	]

	const router = new VueRouter({
	routes,mode: 'history'
	})


	const app = new Vue({
	router
	}).$mount('#app')
</script>